body {
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
}

#tree {
  flex: 3;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  flex: 1;
}